Dump after hash based groups
Congruence classes: 28 with total: 29 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     27
     2:      1
Dump after WPA based types groups
Congruence classes: 28 with total: 29 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     27
     2:      1
Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 28 with total: 29 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     27
     2:      1
Init called for 2 items (6.90%).
Dump after full equality comparison of groups
Congruence classes: 28 with total: 29 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     27
     2:      1
Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 28 with total: 29 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     27
     2:      1

Item count: 29
Congruent classes before: 28, after: 28
Average class size before: 1.04, after: 1.04
Average non-singular class size: 2.00, count: 1
Equal symbols: 1
Totally needed symbols: 2, fraction of loaded symbols: 100.00%

